* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-color: #ff7f50;
}

.App, .home {
    height: 100vh;

}

.home {
    border: solid;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    place-items: center;
}

.home div {
    border: solid;
    width: 50%;
    height: 100%;
}

form {
    margin-top: 40%;
    border: 5px solid #ffffff;
    width: fit-content;
    padding: 2%;
    margin-left: 20%;
}
.home div h4
{
    color: rgb(90, 1, 1);
    font-size: 2em;
}
form button
{
    font-size: 1.2em;
    padding: 2%;
    border: none;
    cursor: pointer;
    background-color: #008000;
    color: #ffffff;
}