* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.App {
    background: rgb(199, 40, 210);
    background: -moz-linear-gradient(13deg, rgba(199, 40, 210, 0.9475140397956058) 45%, rgba(230, 189, 189, 1) 86%);
    background: -webkit-linear-gradient(13deg, rgba(199, 40, 210, 0.9475140397956058) 45%, rgba(230, 189, 189, 1) 86%);
    background: linear-gradient(13deg, rgba(199, 40, 210, 0.9475140397956058) 45%, rgba(230, 189, 189, 1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c728d2", endColorstr="#e6bdbd", GradientType=1);
}

.App, .home {
    height: 100vh;
}

.home {
    display: flex;
}

.home div {
    width: 50%;
    padding: 1%;
}

.titleform {
    font-size: 1.3em;
    text-align: center;
    line-height: 2.6;
}

input[type=file] {
    display: none;
}

.custom-file-upload {
    background-color: #008000;
    color: #ffffff;
    padding: 1%;
    cursor: pointer;
}

button[type=submit] {
    background-color: #faebd7;
    color: #a52a2a;
    padding: 1%;
    font-size: 2em;
    border: none;
}

.files {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 50%));
    overflow-y: auto;
}

.file {
    border: solid;
    text-align: center;
    padding: 5%;
    font-size: 1.5em;
    height: fit-content;
    line-height: 1.6;

}

.file button {
    border: none;
    padding: 2%;
    color: #ffffff;
}

.delete {
    background-color: #ff0000;

}

.rename {
    background-color: #008000;
}